<a href="#" data-toggle="modal" data-target="#add_painting"><i>Add Painting</i></a>
<div class="modal" id="add_painting">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for [@artist, @artist.paintings.build] do |f| %>
          <div class="field">
            <%= f.file_field :picture %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>
