<nav class="navbar navbar-light bg-light nav-bottom">
  <a class="navbar-brand" href="/">LOGO</a>
  <form class="">
    <% if artist_signed_in? %>
      Welcome<strong><%= current_artist.name %></strong>
      &nbsp;|&nbsp;
      <i><u><%= link_to "Sign out", destroy_artist_session_path, method: :delete%></u></i>
    <% else %>
      <a href="#" data-toggle="modal" data-target="#sign_in"><i>Sign in</i></a></u>
      <%= render partial: "sign_in" %>
    <% end %>
  </form>
</nav>
