// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
.nav-bottom{
  border-bottom: 3px solid grey !important;
}

.card-img-top{
  max-width: 166px;
  max-height: 170px;
}

.detailimage{
  margin: 10px 0px;
  height: 170px;
  width: 166px;
  max-width: 100%;
}

.artistnamelink{
  text-align: center;
  font-size: 18px;
}
.image-container{
  max-height: 230px;
  max-width: 180px;
  margin: 10px;
  border: 1px solid grey !important;
}

.profile-break{
  border-bottom: 1px dashed grey;
}

.profileimage{
  margin: 10px 0px;
  height: 170px;
  width: 166px;
  max-width: 100%;
}
